/* box sizing to include padding and border in the size */
:root {
    /* Neutral */
    --Almost-White:  hsl(0, 0%, 98%);
    --Medium--Gray: hsl(0, 0%, 41%);
    --Almost--Black: hsl(0, 0%, 8%);

}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* styling starts here Following BEM*/

body {
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }