/* box sizing to include padding and border in the size */
:root {
  /* Neutral */
  --Almost-White: hsl(0, 0%, 98%);
  --Medium--Gray: hsl(0, 0%, 41%);
  --Almost--Black: hsl(0, 0%, 8%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* styling starts here Following BEM*/

body {
  font-family: "Epilogue", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
// split the header into 2 sections collapsable and not collapsable.
.header {
  display: flex;
  flex-direction: row;
  outline: 1px blue solid;
  align-items: center;
  padding: 16px;
}
//split the collapsable part into 2 sections with space-between.
.header__collapsable {
  outline: 1px red solid;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  flex-basis: 100%;
}

//unordered list into links.
.header__navbar {
  &__list {
    list-style-type: none;
    display: flex;
    gap: 14%;

    &__item {
      min-width: fit-content;
      flex-basis: 50%;
      cursor: pointer;
      transition: color 0.3s;
      &:first-child {
        font-weight: 700;
      }

      &:hover {
        a {
          color: var(--Almost--Black);
        }
        svg {
          path {
            stroke: var(--Almost--Black);
          }
        }
      }
    }
  }
}

// navbar links
//TODO: fix colors and hoverablity
.link {
  text-decoration: none;
  color: var(--Medium--Gray);
}

//TODO: add buttons styling.

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}
