/* box sizing to include padding and border in the size */
:root {
  /* Neutral */
  --Almost-White: hsl(0, 0%, 98%);
  --Medium--Gray: hsl(0, 0%, 41%);
  --Almost--Black: hsl(0, 0%, 8%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* styling starts here Following BEM*/

body {
  font-family: "Epilogue", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 18px;
}
// split the header into 2 sections collapsable and not collapsable.
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}
//split the collapsable part into 2 sections with space-between.
.header__collapsable {
  position: fixed;
  display: flex;
  flex-flow: column wrap;
  background-color: var(--Almost-White);
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  //TODO: make sure to change to display flex for desktop!
  @media (min-width: 900px) {
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: transparent;
    position: static;

    flex-basis: 100%;
  }
}

//navbar links and hoverability.
.header__navbar {
  &__list {
    list-style-type: none;
    display: flex;
    //over ride this flex direction
    flex-direction: column;
    padding: 32px;
    @media (min-width: 900px) {
      flex-direction: row;
      padding: 0 32px;
    }
    gap: 10%;
    &__item {
      margin-top: 32px;

      @media (min-width: 900px) {
        margin-top: 0;
      }

      min-width: fit-content;
      cursor: pointer;
      transition: color 0.3s;
      &:first-child {
        font-weight: 700;
      }

      &:hover {
        a {
          color: var(--Almost--Black);
        }
        svg {
          path {
            stroke: var(--Almost--Black);
          }
        }
      }
    }
  }
}

.link {
  text-decoration: none;
  color: var(--Medium--Gray);
}

.header__buttons {
  display: flex;
  flex-direction: column;
  @media (min-width: 900px) {
    flex-direction: row;
  }
  align-items: center;
}
//TODO: add buttons styling.
.header__btn__login {
  background: none;
  color: var(--Medium--Gray);
  border: none;
  font-size: 18px;
  padding: 0 36px;
  cursor: pointer;
  &:hover {
    color: var(--Almost--Black);
  }
}

.header__btn__register {
  margin-top: 16px;
  max-width: 100%;
  @media (min-width: 900px) {
    margin-top: 0;
    max-width: auto;
  }
  background: none;
  color: var(--Medium--Gray);
  border: 2px solid var(--Medium--Gray);
  border-radius: 14px;
  font-size: 18px;
  padding: 8px 16px;
  cursor: pointer;
  &:hover {
    color: var(--Almost--Black);
    border-color: var(--Almost--Black);
  }
}

.menu {
  position: absolute;
  top: 16px;
  right: 8px;
}

.maincontent {
  display: flex;
  flex-flow: column-reverse wrap;
}

//TODO: figure out why image not getting smaller.
//TODO: make text more appealing.
// .maincontent__textualcontent {
// }

.maincontent__visualcontent__hero {
  margin-top: 4px;
  max-width: 100%;
}

.maincontent__textualcontent__title {
  color: var(--Almost--Black);
  font-size: 2.1rem;
  margin: 64px 0 32px 0;
  text-align: center;
}

.maincontent__textualcontent__btn {
  background-color: var(--Almost--Black);
  color: var(--Almost-White);
  border-radius: 20px;
  font-size: 18px;
  padding: 14px 20px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  margin: 32px auto;
  right: 0;
  left: 0;
  display: block;
}

.maincontent__textualcontent__description {
  color: var(--Medium--Gray);
  line-height: 1.7rem;
  margin: 16px;
  font-size: 16px;
  text-align: center;
}

.companies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 32px;

  @media (min-width: 500px) {
    &__logo {
      max-width: 90px;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 8px;
  background-color: var(--Almost-White);
  color: var(--Medium--Gray);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  a {
    color: hsl(228, 45%, 44%);
  }
}
